<% if messages.present? %>
    <table class="table-size">
      <% messages.each do |m| %>
        <% if m.user == current_user %>
        <tbody>
          <tr class="row justify-content-center">
              <!-- アイコンを左側に表示する -->
            <td class="col-2 text-right">
              <% if m.user.profile_image.attached? %>
                <%= image_tag m.user.profile_image, class:"user-image" %>
              <% else %>
                <%= image_tag 'NO_IMAGE.png', class:"user-image" %>
              <% end %>
            </td>
            <!-- メッセージを右側に表示する -->
            <td class="col-8 table">
              <%= m.user.user_name %>
              <!-- 自分用の吹き出しCSSクラスを適用する -->
              <div class="says">
                <p><%= safe_join(m.content.split("\n"),tag(:br)) %></p>
                <span><%= l m.created_at %></span>
              </div>
            </td>
          </tr>
          <!-- 自分以外のメッセージの場合 -->
        <% else %>
          <tr class="row justify-content-center">
            <!-- メッセージを左側に表示する -->
            <td class="col-8 table">
              <div class="col-11 float-right">
                <%= m.user.user_name %>
              </div>
              <!-- 自分以外用の吹き出しCSSクラスを適用する -->
              <div class="other-user-says">
                <p><%= safe_join(m.content.split("\n"),tag(:br)) %></p>
                <span><%= l m.created_at %></span>
              </div>
            </td>
            <!-- アイコンを右側に表示する -->
            <td class="col-2">
              <% if m.user.profile_image.attached? %>
                <%= image_tag m.user.profile_image, class:"user-image" %>
              <% else %>
                <%= image_tag 'NO_IMAGE.png', class:"user-image" %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      <% end %>
      </table>
    <% end %>