<div class="row">
  <div class="col-6 mx-auto">
    <table class="table table-borderd">
      <tbody>
        <% users.each do |user| %>
        <tr>
          <td style="width: 30%;">
            <% if user.profile_image.attached? %>
              <%= image_tag user.profile_image, class:"user-image" %>
            <% else %>
              <%= image_tag 'NO_IMAGE.png', class:"user-image" %>
            <% end %>
          </td>
          <td><%= link_to "#{user.user_name}", user_path(user), class:"white" %></td>
          <td>
            <% if user_signed_in? && user != current_user %>
              <% if user.following?(current_user) %>
                <%= link_to "Unfollow", user_relationships_path(user), class:"remember", method: :delete %>
              <% else %>
                <%= link_to "Follow", user_relationships_path(user), class:"remember", method: :post %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row text-center">
  <div class="col mx-auto margin">
    <% if user == current_user %>
      <%= link_to "Back", user_path(id: "my_page"), class:"back-button" %>
    <% else %>
      <%= link_to "Back", user_path(user), class:"back-button" %>
    <% end %>
  </div>
</div>