<div class="post-form">
  <h4 class="label">Image</h4>
  <%= f.file_field :image, accept: "image/*" %>
</div>
<div class="post-form">
  <h4 class="label">Title</h4>
  <%= f.text_field :title, class:"form-control col-xs-4" %>
</div>
<div class="post-form">
  <h4 class="label">Body</h4>
  <%= f.text_area :body, class:"form-control col-xs-4" %>
</div>
<div class="post-form">
  <h4 class="label">Type of cat</h4>
  <%= f.collection_select :type_id,  Type.order("name asc") - [Type.find(28)] + [Type.find(28)], :id, :name, prompt: "Choose Type", class:"select_type" %>
</div>
<div class="post-form">
  <h4 class="label">Sex</h4>
  <%= f.radio_button :sex, PostImage.sexes.key(0), checked: "checked" %>
  <%= f.label :sex, PostImage.sexes_i18n[:male] %>
  <%= f.radio_button :sex, PostImage.sexes.key(1) %>
  <%= f.label :sex, PostImage.sexes_i18n[:female] %>
  <%= f.radio_button :sex, PostImage.sexes.key(2) %>
  <%= f.label :sex, PostImage.sexes_i18n[:unknown] %><br>
</div>
<div class="post-form">
  <%= f.select :status, PostImage.statuses.keys.map { |k| [t("enums.post_image.status.#{k}"),k]}, {}, {class: "custom-select w-25"} %>
</div>
<% if local_assigns[:edit_flag].present? %>
  <%= f.submit "Save", class:"post-button" %>
<% else %>
  <%= f.submit "Post", class:"post-button" %>
<% end %>