<div class="main top">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col mx-auto">
        <h1 class="about">Drafts</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <% @post_images.each do |post_image| %>
      <div class="one-post">
        <p class="caption"><%= post_image.title %></p>
        <%= link_to edit_post_image_path(post_image) do %>
          <% if post_image.image.attached? %>
            <%= image_tag post_image.image, :size => '200x200', class:"rounded img-responsive" %>
          <% end %>
        <% end %>
        <p class="caption"></p>
      </div>
      <% end %>
      <!--<div class="row justify-content-center">-->
        <% @post_lost_cats.each do |post_lost_cat| %>
        <div class="one-post">
        <p class="caption"><%= post_lost_cat.title %></p>
        <%= link_to edit_post_lost_cat_path(post_lost_cat) do %>
          <% if post_lost_cat.image.attached? %>
            <%= image_tag post_lost_cat.image, :size => '200x200', class:"rounded img-responsive" %>
          <% end %>
        <% end %>
        <p class="caption"></p>
      </div>
      <% end %>
    </div>
  </div>
</div>