<div class="main top">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col mx-auto margin">
        <h1 class="about">New Post</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 mx-auto">
        <%= form_with model: @post_image, url:post_images_path, method: :post, local: true do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class="label">Image</td>
              <td><%= f.file_field :image, accept: "image/*" %></td>
            </tr>
            <tr>
              <td class="label">Title</td>
              <td><%= f.text_field :title, class:"form-control text" %></td>
            </tr>
            <tr>
              <td class="label">Body</td>
              <td><%= f.text_area :body, class:"form-control area" %></td>
            </tr>
            <tr>
              <td class="label">Type of cat</td>
              <td><%= f.collection_select :type_id, Type.all, :id, :name, prompt: "Choose Type" %></td>
            </tr>
            <tr>
              <td class="label">Sex</td>
              <td>
                <%= f.radio_button :sex, PostImage.sexes.key(0), checked: "checked" %>
                <%= f.label :sex, PostImage.sexes_i18n[:male] %>
                <%= f.radio_button :sex, PostImage.sexes.key(1) %>
                <%= f.label :sex, PostImage.sexes_i18n[:female] %>
                <%= f.radio_button :sex, PostImage.sexes.key(2) %>
                <%= f.label :sex, PostImage.sexes_i18n[:unknown] %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <%= f.select :status, PostImage.statuses.keys.map { |k| [t("enums.post_image.status.#{k}"),k]}, {}, {class: "custom-select w-25"} %>
              </td>
            </tr>
          </tbody>
        </table>
        <%= f.submit "Post", class:"post-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>