<div class="main top">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col mx-auto margin">
        <h1 class="about">Post Detail</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-right">
        <% if @post_image.image.attached? %>
          <%= image_tag @post_image.image, class:"image-show" %>
        <% end %>
      </div>
      <div class="col-12 col-sm-6">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class="font-weight-bold" style="width: 20%">投稿日</td>
              <td><%= @post_image.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <td class="font-weight-bold">ユーザー</td>
              <td><%= link_to "#{@user.user_name}", user_path(@user), class:"white" %></td>
            </tr>
            <tr>
              <td class="font-weight-bold">猫種</td>
              <td><%= @post_image.type.name %></td>
            </tr>
            <tr>
              <td class="font-weight-bold">性別</td>
              <td><%= @post_image.sex_i18n %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= @post_image.title %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= @post_image.body %></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <% if user_signed_in? %>
                  <% if @post_image.favorited_by?(current_user) %>
                  <h3>
                    <%= link_to post_image_post_image_favorites_path(@post_image), class:"white", method: :delete do %>
                      ♥<%= @post_image.post_image_favorites.count %>
                    <% end %>
                  </h3>
                  <% else %>
                  <h3>
                    <%= link_to post_image_post_image_favorites_path(@post_image), class:"white", method: :post do %>
                      ♡<%= @post_image.post_image_favorites.count %>
                    <% end %>
                  </h3>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <% if @user == current_user %>
              <td><%= link_to "Edit", edit_post_image_path(@post_image), class:"remember" %></td>
              <td><%= link_to "Delete Post", post_image_path(@post_image), method: :delete, data: { confirm: "Are you sure?" }, class:"remember" %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <% if user_signed_in? %>
          <%= form_with model: [@post_image, @post_image_comment] do |f| %>
            <%= f.text_area :comment, placeholder:"comments", class:"comment-box" %>
            <%= f.submit "Post", class:"comment-button" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col-8">
        <p class="links"><i class="fa-solid fa-comment white"></i>&nbsp;Comments : <%= @post_image.post_image_comments.count %></p>
        <table class="table table-borderd comment-table">
          <tbody>
            <% @post_image.post_image_comments.each do |post_image_comment| %>
            <tr>
              <td><%= post_image_comment.created_at.strftime('%Y/%m/%d') %></td>
              <td>
                <% if post_image_comment.user.profile_image.attached? %>
                  <%= image_tag post_image_comment.user.profile_image, class:"comment-image" %>
                <% else %>
                  <%= image_tag 'NO_IMAGE.png', class:"comment-image" %>
                <% end %>
              </td>
              <td style="width:30%;"><%= post_image_comment.user.user_name %></td>
              <td><%= post_image_comment.comment %></td>
              <td>
                <% if post_image_comment.user == current_user %>
                  <%= link_to "Delete", post_image_post_image_comment_path(post_image_comment.post_image, post_image_comment), class:"remember", method: :delete %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>