<div class="main top">
  <div class="container">
    <div class="row text-center">
      <div class="col mx-auto margin">
        <h1 class="about"><i class="icon"></i>What's meow?</h1>
        <h4 class="about-text">猫好きによる猫好きのためのコミュニティサイト</h4>
      </div>
    </div>
    <div class="row text-center mt-5 mb-5">
      <div class="col mx-auto">
        <h1 class="subtitle"><i class="icon"></i>What's New</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <%= render "public/post_images/image_index", post_images: @post_images %>
    </div>
    <div class="row justify-content-end">
      <%= link_to "Show more >>", post_images_path, class:"button" %>
    </div>
    <div class="row text-center mt-5 mb-5">
      <div class="col mx-auto">
        <h1 class="subtitle"><i class="icon"></i>Lost Cats</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <%= render "public/post_lost_cats/lost_image_index", post_lost_cats: @post_lost_cats %>
    </div>
    <div class="row justify-content-end">
      <%= link_to "Show more >>", post_lost_cats_path, class:"button" %>
    </div>
    <div class="row text-center mt-5 mb-5">
      <div class="col mx-auto">
        <h1 class="subtitle"><i class="icon"></i>Search Cats</h1>
      </div>
    </div>
    <div class="row justify-content-center table">
      <%= form_tag({controller:"homes", action:"top"}, method: :get) do %>
        <%= select_tag :type_search, options_from_collection_for_select(@type, "id", "name"), prompt: "Choose Cat", class:"select_type" %>
        <%= submit_tag "Go", class:"go-button" %>
      <% end %>
    </div>
    <div class="row mt-5 justify-content-center">
      <% if @results.present? %>
        <% @results.each do |result| %>
        <div class="one-post">
          <p class="caption"><%= result.title.truncate(12, omission: "...") %></p>
          <%= link_to post_image_path(result) do %>
            <% if result.image.attached? %>
              <%= image_tag result.image, class:"image-shape" %>
            <% end %>
          <% end %>
          <p class="caption"><%= result.user.user_name %></p>
          <p class="caption">
            <i class="fa-solid fa-heart white"></i>&nbsp;<%= link_to "#{result.post_image_favorites.count}", post_image_path(result) %>&emsp;
            <i class="fa-solid fa-comment white"></i>&nbsp;<%= link_to "#{result.post_image_comments.count}", post_image_path(result) %>
          </p>
        </div>
        <% end %>
      <% end %>
      <% if @results_lost.present? %>
        <% @results_lost.each do |result_lost| %>
        <div class="one-post">
          <p class="caption"><%= result_lost.title.truncate(12, omission: "...") %></p>
          <%= link_to post_lost_cat_path(result_lost) do %>
            <% if result_lost.image.attached? %>
              <%= image_tag result_lost.image, class:"image-shape" %>
            <% end %>
          <% end %>
          <p class="caption"><%= result_lost.user.user_name %></p>
          <p class="caption">
            <i class="fa-solid fa-heart white"></i>&nbsp;<%= link_to "#{result_lost.post_lost_cat_favorites.count}", post_lost_cat_path(result_lost) %>&emsp;
            <i class="fa-solid fa-comment white"></i>&nbsp;<%= link_to "#{result_lost.post_lost_cat_comments.count}", post_lost_cat_path(result_lost) %>
          </p>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
