<h1>What's meow?</h1>
<h4>猫好きによる猫好きのためのコミュニティサイトです。</h4>
<% if user_signed_in? %>
  <%= link_to "New Post", new_post_image_path %>
<% end %>

<h1>What's New</h1>
<% @post_images.each do |post_image| %>
  <%= post_image.title %>
  <% if post_image.image.attached? %>
    <%= image_tag post_image.image, :size =>'200x200' %>
  <% end %>
  <%= post_image.user.user_name %>
<% end %>
<%= link_to "show more >>", post_images_path %>

<h1>Lost Cats</h1>
<% @post_lost_cats.each do |post_lost_cat| %>
  <%= post_lost_cat.title %>
  <% if post_lost_cat.image.attached? %>
    <%= image_tag post_lost_cat.image, :size =>'200x200' %>
  <% end %>
  <%= post_lost_cat.user.user_name %>
<% end %>
<%= link_to "show more >>", post_lost_cats_path %>

<% if user_signed_in? %>
  <%= link_to "New Post", new_post_lost_cat_path %>
<% end %>

<h1>Search Cats</h1>
<%= form_tag({controller:"homes", action:"top"}, method: :get) do %>
  <%= select_tag :type_search, options_from_collection_for_select(@type, "id", "name") %>
  <%= submit_tag "Go" %>
<% end %>

<% if @searched_post_images.present? %>
  <% @searched_post_images.each do |searched_post_image| %>
    <%= searched_post_image.title %>
    <% if searched_post_image.image.attached? %>
      <%= image_tag searched_post_image.image, size: "200x200" %>
    <% end %>
    <%= searched_post_image.user.user_name %>
  <% end %>
<% end %>
