<h1>What's meow?</h1>
<h4>猫好きによる猫好きのためのコミュニティサイトです。</h4>
<% if user_signed_in? %>
  <%= link_to "New Post", new_post_image_path %>
<% end %>

<h1>What's New</h1>
<% @post_images.each do |post_image| %>
  <%= post_image.title %>
  <%= image_tag post_image.image, :size =>'200x200' %>
  <%= post_image.user.user_name %>
<% end %>
<%= link_to "show more >>", post_images_path %>