<div class="main top">
  <div class="container">
    <div class="row text-center">
      <div class="col mx-auto margin">
        <h1 class="about">What's meow?</h1>
        <h4 class="about-text">猫好きによる猫好きのためのコミュニティサイト</h4>
      </div>
    </div>
    <div class="row text-center mt-5 mb-5">
      <div class="col mx-auto">
        <h1 class="subtitle">What's New</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <% @post_images.each do |post_image| %>
      <div class="one-post">
        <p class="caption"><%= post_image.title %></p>
        <% if post_image.user.is_deleted %>
          <% next %>
        <% end %>
        <%= link_to post_image_path(post_image) do %>
          <% if post_image.image.attached? %>
            <%= image_tag post_image.image, :size =>'200x200', class:"image-shape" %>
          <% end %>
        <% end %>
        <p class="caption"><%= post_image.user.user_name %></p>
      </div>
      <% end %>
    </div>
    <div class="row justify-content-end">
      <%= link_to "show more >>", post_images_path, class:"button" %>
    </div>
    <div class="row text-center mt-5 mb-5">
      <div class="col mx-auto">
        <h1 class="subtitle">Lost Cats</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <% @post_lost_cats.each do |post_lost_cat| %>
      <div class="one-post">
        <p class="caption"><%= post_lost_cat.title %></p>
        <%= link_to post_lost_cat_path(post_lost_cat) do %>
          <% if post_lost_cat.image.attached? %>
            <%= image_tag post_lost_cat.image, :size =>'200x200', class:"image-shape" %>
          <% end %>
        <% end %>
        <p class="caption"><%= post_lost_cat.user.user_name %></p>
      </div>
      <% end %>
    </div>
    <div class="row justify-content-end">
      <%= link_to "show more >>", post_lost_cats_path, class:"button" %>
    </div>
    <div class="row text-center mt-5 mb-5">
      <div class="col mx-auto">
        <h1 class="subtitle">Search Cats</h1>
      </div>
    </div>
    <div class="row justify-content-center table">
      <%= form_tag({controller:"homes", action:"top"}, method: :get) do %>
        <%= select_tag :type_search, options_from_collection_for_select(@type, "id", "name") %>
        <%= submit_tag "Go", class:"go-button" %>
      <% end %>
    </div>
    <div class="row mt-5 justify-content-center">
      <% if @results.present? %>
        <% @results.each do |result| %>
        <div class="one-post">
          <p class="caption"><%= result.title %></p>
          <%= link_to post_image_path(result) do %>
            <% if result.image.attached? %>
              <%= image_tag result.image, size: "200x200", class:"image-shape" %>
            <% end %>
          <% end %>
          <p class="caption"><%= result.user.user_name %></p>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
