<% post_lost_cats.each do |post_lost_cat| %>
  <% if post_lost_cat.image.attached? %>
    <div class="one-post">
      <p class="caption"><%= post_lost_cat.title.truncate(12, omission: "...") %></p>
      <% if post_lost_cat.user.is_deleted %>
        <% next %>
      <% end %>
      <%= link_to post_lost_cat_path(post_lost_cat) do %>
        <%= image_tag post_lost_cat.image, class:"image-shape" %>
      <% end %>
      <p class="caption"><%= post_lost_cat.user.user_name %></p>
      <p class="caption">
        <i class="fa-solid fa-heart white"></i>&nbsp;<%= link_to "#{post_lost_cat.post_lost_cat_favorites.count}", post_lost_cat_path(post_lost_cat) %>&emsp;
        <i class="fa-solid fa-comment white"></i>&nbsp;<%= link_to "#{post_lost_cat.post_lost_cat_comments.count}", post_lost_cat_path(post_lost_cat) %>
       </p>
    </div>
  <% end %>
<% end %>