<div class="main top">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col mx-auto margin">
        <h1 class="about">Post Detail</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-right">
        <% if @post_lost_cat.image.attached? %>
          <%= image_tag @post_lost_cat.image, :size => '300x300', class:"image-shape" %>
        <% end %>
      </div>
      <div class="col-6">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td style="width: 20%">投稿日</td>
              <td><%= @post_lost_cat.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <td>ユーザー</td>
              <td><%= link_to "#{@user.user_name}", user_path(@user), class:"white" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= @post_lost_cat.title %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= @post_lost_cat.body %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= @post_lost_cat.type.name %></td>
            </tr>
            <tr>
              <td>性別</td>
              <td><%= @post_lost_cat.sex_i18n %></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <% if user_signed_in? %>
                  <% if @post_lost_cat.favorited_by?(current_user) %>
                  <h3>
                    <%= link_to post_lost_cat_post_lost_cat_favorites_path(@post_lost_cat), class:"white", method: :delete do %>
                      ♥<%= @post_lost_cat.post_lost_cat_favorites.count %>
                    <% end %>
                  </h3>
                  <% else %>
                  <h3>
                    <%= link_to post_lost_cat_post_lost_cat_favorites_path(@post_lost_cat), class:"white", method: :post do %>
                      ♡<%= @post_lost_cat.post_lost_cat_favorites.count %>
                    <% end %>
                  </h3>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <% if @user == current_user %>
              <td><%= link_to "Edit", edit_post_lost_cat_path(@post_lost_cat), class:"remember" %></td>
              <td><%= link_to "Delete Post", post_lost_cat_path(@post_lost_cat), method: :delete, data: { confirm: "Are you sure?" }, class:"remember" %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-right">
        <% if user_signed_in? %>
          <%= form_with model: [@post_lost_cat, @post_lost_cat_comment] do |f| %>
            <%= f.text_area :comment, placeholder:"comments" %>
            <%= f.submit "Post", class:"comment-button" %>
          <% end %>
        <% end %>
      </div>
      <div class="col-6">
        <p class="links">コメント件数 : <%= @post_lost_cat.post_lost_cat_comments.count %></p>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @post_lost_cat.post_lost_cat_comments.each do |post_lost_cat_comment| %>
            <tr>
              <td><%= post_lost_cat_comment.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= post_lost_cat_comment.user.user_name %></td>
              <td><%= post_lost_cat_comment.comment %></td>
              <td>
                <% if post_lost_cat_comment.user == current_user %>
                  <%= link_to "Delete", post_lost_cat_post_lost_cat_comment_path(post_lost_cat_comment.post_lost_cat, post_lost_cat_comment), class:"remember", method: :delete %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>