<div class="cover-index">
  <div class="container">
    <div class="row text-center mt-5 mb-5">
      <div class="col-7 text-right admin-subtitle">
        <h2>投稿一覧</h2>
      </div>
      <div class="col-5 text-right">
        <%= link_to "迷子猫一覧", admin_post_lost_cats_path, class:"btn btn-outline-info rounded-pill" %>
      </div>
    </div>
    <div class="row justify-content-center">
      <% @post_images.each do |post_image| %>
      <div class="one-post">
        <p class="caption"><%= post_image.title %></p>
        <%= link_to admin_post_image_path(post_image) do %>
          <% if post_image.image.attached? %>
            <%= image_tag post_image.image, :size => '200x200', class:"rounded img-responsive" %>
          <% end %>
        <% end %>
        <p class="caption"><%= post_image.user.user_name %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>


