<div class="container">
  <div class="row text-center mt-5 mb-5">
    <div class="col mx-auto">
      <h2>投稿詳細</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-right">
      <% if @post_image.image.attached? %>
        <%= image_tag @post_image.image, :size => '300x300', class:"rounded img-responsive" %>
      <% end %>
    </div>
    <div class="col-6">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td></td>
            <td><%= @post_image.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= link_to "#{@user.user_name}", admin_user_path(@user) %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= @post_image.title %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= @post_image.body %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= @post_image.sex_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <%= link_to "投稿を削除", admin_post_image_path(@post_image), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-outline-danger rounded-pill" %>
    </div>
  </div>
</div>