<h1>投稿詳細</h1>
<% if @post_image.image.attached? %>
  <%= image_tag @post_image.image, :size => '300x300' %><br>
<% end %>
<%= @post_image.created_at.strftime('%Y/%m/%d') %><br>
<%= link_to "#{@user.user_name}", admin_user_path(@user) %><br>
<%= @post_image.title %><br>
<%= @post_image.body %><br>
<%= @post_image.sex %><br>
<%= link_to "投稿を削除", admin_post_image_path(@post_image), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger" %>
