<div class="container">
  <div class="row text-center mt-5 mb-5">
    <div class="col mx-auto admin-subtitle">
      <h2>迷子猫詳細</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-right">
      <% if @post_lost_cat.image.attached? %>
        <%= image_tag @post_lost_cat.image, class:"image-show" %>
      <% end %>
    </div>
    <div class="col-6">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="font-weight-bold" style="width: 20%;">投稿日</td>
            <td><%= @post_lost_cat.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td class="font-weight-bold">ユーザー</td>
            <td><%= link_to "#{@user.user_name}", admin_user_path(@user) %></td>
          </tr>
          <tr>
            <td class="font-weight-bold">猫種</td>
            <td><%= @post_lost_cat.type.name %></td>
          </tr>
          <tr>
            <td class="font-weight-bold">性別</td>
            <td><%= @post_lost_cat.sex_i18n %></td>
          </tr>
          <tr>
            <td class="font-weight-bold">タイトル</td>
            <td><%= @post_lost_cat.title %></td>
          </tr>
          <tr>
            <td class="font-weight-bold">本文</td>
            <td><%= @post_lost_cat.body %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col text-center">
      <%= link_to "投稿を削除", admin_post_lost_cat_path(@post_lost_cat), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-outline-danger rounded-pill" %>
    </div>
  </div>
</div>