<div class="main sign-in">
  <div class="container">
  	<div class="d-flex justify-content-center h-100">
  		<div class="card">
  			<div class="card-header">
  				<h3>Sign in</h3>
        </div>
  			<div class="card-body">
  				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  				<%= render "public/shared/error_messages", resource: resource %>
            <div class="row mt-3 justify-content-center">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div style="background-color: #efe8d9;" class="input-group-text"><span><i class="fa-solid fa-envelope"></i></span>
                  </div>
                </div>
                <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
              </div>
            </div>
            <div class="row mt-3 justify-content-center">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div style="background-color: #efe8d9;" class="input-group-text"><span><i class="fa-solid fa-key"></i></span>
                  </div>
                </div>
                <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class:"form-control" %>
              </div>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="row mt-3 justify-content-center remember">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
    				<div class="row mt-3 login-position">
              <%= f.submit "Log in", class: "login-button" %>
              <%= link_to 'Guest Log in', users_guest_sign_in_path, method: :post, class:"guest-button" %>
            </div>
          <% end %>
  			</div>
  			<div class="card-footer">
  				<div class="d-flex justify-content-center links">
  					アカウントをお持ちでない方⇒
  					<%= link_to "Sign up", new_user_registration_path, class:"signup-links" %>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</div>