<div class="main top">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col mx-auto margin">
        <h1 class="about">Edit Profile</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 mx-auto">
        <%= form_with model: @user do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class="label"><%= f.label :user_name %></td>
              <td><%= f.text_field :user_name, autofocus: true, autocomplete: "user_name" %></td>
            </tr>
            <tr>
              <td class="label"><%= f.label :email %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
            <tr>
              <td class="label"><%= f.label :profile_image %></td>
              <td><%= f.file_field :profile_image, accept: "image/*" %></td>
            </tr>
          </tbody>
        </table>
        <%= f.submit "Save", class:"post-button" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col text-right mb-5">
        <%= link_to "Delete an account >>", users_unsubscribe_path, class:"btn btn-outline-danger rounded-pill label" %>
      </div>
    </div>
  </div>
</div>