<div class="main top">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col mx-auto margin">
        <h1 class="about">Favorites</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <% @post_image_favorites.each do |post_image| %>
      <div class="one-post">
        <p class="caption"><%= post_image.title %></p>
        <%= link_to post_image_path(post_image) do %>
          <%= image_tag post_image.image, size: "200x200", class:"image-shape" %>
        <% end %>
        <p class="caption"><%= post_image.user.user_name %></p>
      </div>
      <% end %>
      <% @post_lost_cat_favorites.each do |post_lost_cat| %>
      <div class="one-post">
        <p class="caption"><%= post_lost_cat.title %></p>
        <%= link_to post_lost_cat_path(post_lost_cat) do %>
          <%# if post_lost_cat.image.attached? %>
            <%= image_tag post_lost_cat.image, size: '200x200', class:"image-shape" %>
          <%# end %>
        <% end %>
        <p class="caption"><%= post_lost_cat.user.user_name %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>