<div class="main top">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col mx-auto margin">
        <h1 class="about"><i class="icon"></i>My Page</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-right">
        <% if @user.profile_image.attached? %>
          <%= image_tag @user.profile_image, class:"image-shape" %>
        <% else %>
          <%= image_tag 'NO_IMAGE.png', class:"image-shape" %>
        <% end %>
      </div>
      <div class="col-6">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td><%= @user.user_name %></td>
            </tr>
            <tr>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td><%= link_to "Following", user_followings_path(@user), class:"remember" %>&emsp;<%= @user.followings.count %></td>
            </tr>
            <tr>
              <td><%= link_to "Followers", user_followers_path(@user), class:"remember" %>&emsp;<%= @user.followers.count %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <%= link_to "New post", new_post_image_path, class:"mypage-button" %>
      <%= link_to "Lost cat", new_post_lost_cat_path, class:"mypage-button" %>
      <%= link_to "Favorites", favorites_user_path(current_user), class:"mypage-button" %>
      <%= link_to "User edit", edit_user_path(@user), class:"mypage-button" %>
      <%= link_to "Drafts", confirm_post_images_path, class:"mypage-button" %>
    </div>
    <div class="row text-center mt-5 mb-5">
      <div class="col mx-auto">
        <h2 class="subtitle"><i class="icon"></i>Posts</h2>
      </div>
    </div>
    <%= render "post_images", post_images: @post_images, post_lost_cats: @post_lost_cats %>
  </div>
</div>