<div class="main top">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col mx-auto margin">
        <h1 class="about">My Page</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-right">
        <% if @user.profile_image.attached? %>
          <%= image_tag @user.profile_image, :size => '200x200', class:"rounded img-responsive" %>
        <% else %>
          <%= image_tag 'NO_IMAGE.png', size: '200x200', class:"rounded img-responsive" %>
        <% end %>
      </div>
      <div class="col-6">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td><%= @user.user_name %></td>
            </tr>
            <tr>
              <td><%= @user.email %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <%= link_to "New post", new_post_image_path, class:"mypage-button" %>
      <%= link_to "Lost cat", new_post_lost_cat_path, class:"mypage-button" %>
      <%= link_to "Favorites", favorites_user_path(current_user), class:"mypage-button" %>
      <%= link_to "User edit", edit_user_path, class:"mypage-button" %>
      <%= link_to "Drafts", confirm_post_images_path, class:"mypage-button" %>
    </div>
    <div class="row text-center mt-5 mb-5">
      <div class="col mx-auto">
        <h2 class="subtitle">Posts</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <% @post_images.each do |post_image| %>
      <div class="one-post">
        <p class="caption"><%= post_image.title %></p>
        <%= link_to post_image_path(post_image) do %>
          <% if post_image.image.attached? %>
            <%= image_tag post_image.image, size: '200x200', class:"rounded img-responsive" %>
          <% end %>
        <% end %>
      </div>
      <% end %>
      <% @post_lost_cats.each do |post_lost_cat| %>
      <div class="one-post">
        <p class="caption"><%= post_lost_cat.title %></p>
        <%= link_to post_lost_cat_path(post_lost_cat) do %>
          <% if post_lost_cat.image.attached? %>
            <%= image_tag post_lost_cat.image, size: '200x200', class:"rounded img-responsive" %>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>